@use './colors' as c;

* {
  margin: 0;
  padding: 0;
  font-family: PT Sans, sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0%;
  text-align: left;
  color: c.$black-blue;
}
.html {
  background: rgba(244, 245, 249, 1);
}
button {
  all: unset;
  box-sizing: border-box;
  cursor: pointer;
}