* {
  margin: 0;
  padding: 0;
  font-family: PT Sans, sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0%;
  text-align: left;
  color: #42567a;
}

button {
  all: unset;
  box-sizing: border-box;
  cursor: pointer;
}