.wrapper {
  margin: 0 8% 0 16%;
  border-width: 0 1px 0 1px;
  border-style: solid;
  border-color: rgba(66, 86, 122, 0.1);
  position: relative;
}

.wrapper::before {
  content: '';
  position: absolute;
  left: -1px;
  top: 60px;
  width: 4px;
  height: 120px;
  background: linear-gradient(to right, #ef5da8, #3877ee);
}

.container {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
  padding: 0 4%;
  box-sizing: border-box;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  position: relative;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  order: 1;
}

.header__title {
  font-size: clamp(30px, 9vw, 50px);
  font-weight: 700;
}

.years__container {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 160px;
  letter-spacing: -2%;
  text-align: center;
  order: 2;
}

.years__title {
  font-size: clamp(56px, 13vw, 140px);
  text-align: center;
  max-width: 973px;
  max-height: 160px;
  font-weight: 700;
  pointer-events: none;
}

.years__title--start {
  color: #5d5fef;
  margin-right: 25px;
}

.years__title--end {
  color: #ef5da8;
}

.navigation {
  display: flex;
  flex-direction: row;
  align-items:last baseline;
  justify-content: start;
  order: 3;
  margin-bottom: 20px;
}

.navigation-text {
  font-size: 20px;
}

.navigation__container-button {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

.navigation__button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  box-sizing: border-box;
  border: 1px solid #42567a80;
  border-radius: 50%;
  margin-right: 20px;
}

.navigation__button:disabled {
  opacity: 0.5;
  cursor: default;
}

.navigation__button:last-child {
  margin-right: 0px;
}

.navigation__container-pagination {
 display: flex;
 justify-content: center;
}

.slide__content {
  display: flex;
  flex-direction: column;
}

.slide__year {
  font-family: Bebas Neue, sans-serif;
  font-size: 16px;
  color: #3877ee;
  margin-bottom: 15px;
}

.slide__text {
  word-break: break-word;
  font-size: 14px;
  
}

.swiper {
  order: 4;
  width: 100%;
  max-width: 1000px;
  box-sizing: border-box;
}
.swiper-wrapper {
  min-height: 150px;
  height: auto;
}
.swiper-slide {
  text-align: center;
  font-size: clamp(14px, 4vw, 18px);
}

.custom-pagination {
  order: 5;
  display: inline-flex;
  margin-left: 20px;
}

.swiper-pagination-bullet-active {
  background: rgba(66, 86, 122, 1);
}

.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  width: 40px;
  height: 40px;
  box-shadow: 0px 0px 15px 0px rgba(56, 119, 238, 0.5);
  background:  rgba(255, 255, 255, 1);
  border-radius: 50%;
}

.swiper-button-prev::after,
.swiper-button-next:after {
  content: '';
  width: 8px;
  height: 14px;
}
.swiper-button-prev::after {
  background: url('../assets/leftArrow.svg') no-repeat center center;
  
}
.swiper-button-next:after {
  background: url('../assets/rightArrow.svg') no-repeat center center;
}

.circle-block {
  position: absolute;
  inset: 0;
  z-index: 2;
  pointer-events: none;
}

.circle {
  position: absolute;
  top: 40%;
  left: 50%;
  width: 300px;
  height: 300px;
  border: 1px solid rgba(66, 86, 122, 0.2);
  border-radius: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

.circle-block::before,
.circle-block::after {
  content: "";
  position: absolute;
  background: rgba(66, 86, 122, 0.2);
  pointer-events: none;
  z-index: 0;
}

.circle-block::before {
  left: 50%;
  width: 1px;
  height: 100%;
  transform: translateX(-50%);
}

.circle-block::after {
  top: 40%;
  width: 100%;
  height: 1px;
  transform: translateY(-50%);
}
.circle__buttons {
  z-index: 10;
  position: absolute;
  top: 40%;
  left: 50%;
}

.circle__button {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 6px;
  height: 6px;
  background: #42567a;
  border-radius: 50%;
  border: 1px solid transparent;
  box-sizing: border-box;
  transform-origin: center center;
  pointer-events: auto;
  z-index: 3;
  transition: width 0.5s ease, height 0.5s ease, background 0.5s ease, border 0.5s ease;
  overflow: visible;
}

.circle__button::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 6px;
  height: 6px;
  background: #42567a;
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
  transition: transform 0.5s ease, opacity 0.5s ease;
  z-index: -1; 
}

.circle__button:not(.circle__button-active):hover::before {
  transform: translate(-50%, -50%) scale(6);
  opacity: 0;
}

.circle__button-number {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  color: #42567a;
  font-size: 14px;
  font-weight: bold;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0s ease;
}

.circle__button-label {
  position: absolute;
  top: 25%;
  left: 50px;
  white-space: nowrap;
  opacity: 0;
  color: #42567a;
  font-size: 14px;
  font-weight: 700;
  transition: opacity 0s, transform 0.3s ease;
  pointer-events: none;
}

.circle__button-active {
  background: #fff;
  border: 1px solid rgba(48, 62, 88, 0.5);
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  z-index: 3;

  .circle__button-number {
    opacity: 1;
    transition: opacity 1s ease, transform 0.3s ease;
  }

  .circle__button-label {
    opacity: 1;
    transition: opacity 1s ease, transform 0.3s ease;
  }
}

.circle__button-active::before {
  opacity: 0;
  transform: scale(0);
}

.circle__button:hover {
  background: #fff;
  border: 1px solid rgba(48, 62, 88, 0.5);
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  z-index: 3;
  transition: width 0.5s ease, height 0.5s ease;

  .circle__button-number {
    opacity: 1;
    transition: opacity 0.3s ease, transform 0.3s ease;
  }
}


@media (max-width: 1440px) {
    .swiper {
    max-width: 1000px;
  }
}

@media (max-width: 655px) {
  .wrapper {
    border-width: 0;
    margin: 0 8% 0 8%;
  }

  .wrapper::before {
    display: none;
  }

  .container {
    padding: 0;
  }

  .navigation {
    order: 4;
  }

  .navigation__button {
    width: 35px;
    height: 35px;
  }
  
  .swiper {
    max-width: 350px;
    order: 3;
  }

  .circle-block .circle,
  .circle-block, .circle__buttons, .circle__button {
    z-index: 0;
    display: none;
  }
  .circle-block::before {
    display: none;
  }
  .circle-block::after {
    height: 0;
    border: 1px solid rgba(199, 205, 217, 1);
    top: 52%;
  }
}

